<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <% if @team.errors.any? %>
    <%= @team.errors.count %> errors prohibited this obj from being saved:
    <ul>
    <% @team.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <h2>Team新規投稿</h2>
  <%= form_with model:@team, local:true do |f| %>
    <%= flash[:notice] %>
    <h5 class="font-weight-light">Name</h5>
    <%= f.text_field :title, autofocus: true %>
    <h5 class="font-weight-light">Opinion</h5>
    <%= f.text_area :body %>
    <div><%= f.submit "Create Team" %></div>
  <% end %>
</div>
